<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<title>志學飲料推薦系統</title>
	</head>
	
	<body>
		<div class="container">
			<h1>
				<a href="/">志學飲料推薦系統</a>
			</h1>
			
			<form action="/result" method="post">
				<button type="submit" class="submit-button">開始推薦物品</button>
				<div class="option-section">
					{% for option in features %}
						<div class="options">
							<label>
								<input type="checkbox" id="{{ option }}" name="{{ option }}" value="{{ option }}">
								<span>{{ option }}</span
							</label>
						</div>
					{% endfor %}
				</div>
			</form>
		</div>

	</body>
</html>